/** Add css rules here for your application. */


#blog {
	text-decoration: none;
	color: #00008B;
}
#blog:hover {
	color: #87CEFA;
}
.gwt-Button-decimal {
	width: 100%;
}
.gwt-Button-multiply {
	width: 100%;
}
/** set width of equals button */
.gwt-Button-equals {
	width: 100%;
}
/** set width of all buttons except equals and zero */
.gwt-Button-one {
	width: 100%;
}
/** set width of zero button */
.gwt-Button-zero {
	width: 100%;
}
/** add style to clear button */
.gwt-Button-clear {
	color: #1E90FF;
	width: 5%;
}
/** set width of textbox */
.gwt-TextBox-numberText {
	width: 18%;
}
/** link style */
#link {
	width: 103px;
}
#ryanLinkedin {
	text-decoration: underline;
	color: green;
}
#ryanLinkedin:visited {
	color: green;
}
#ryanLinkedin:hover {
	color: black;
	text-decoration: none;
}
#ryanLinkedin:active {
	color: green;
}
#calculator {
	width: 100%;
}

table {
	width: 20%;
	padding: 0;
}
td {
	width: 20%;
}